# Video Game Analysis - Is Console Era Over?

In [111]:
import pandas as pd
import numpy as np
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [112]:
df = pd.read_csv('vgsales.csv',index_col=0)

In [113]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [114]:
df.Platform.unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16', '3DO',
       'GG', 'PCFX'], dtype=object)

The Platform in df contains both handheld and console video game data. However, we do not want to mix the two types of devices because in my opinion, it is not fair to mix these two types of devices becuase they are very different in terms of usage, size, price, etc. Therefore, we need to recognize the data associated with console video game platform and drop the ones for handheld.

## Video Game Platform (Console, not handheld) unit sales data

In [115]:
df2 = pd.read_csv('platform_sales.csv',index_col=0)

In [116]:
df2.head()

,Platform,Year Available,North America,Europe,Japan,Rest of World,Global
Pos,,,,,,,
1,PlayStation 2 (PS2),2000,53.65,55.28,23.18,25.57,157.68
2,PlayStation (PS),1994,38.94,36.91,19.36,9.04,104.25
3,Wii (Wii),2006,45.38,33.75,12.77,9.28,101.18
4,PlayStation 3 (PS3),2006,29.41,34.52,10.45,12.45,86.83
5,Xbox 360 (X360),2005,49.10,25.86,1.66,9.16,85.78

In [117]:
import re

In [118]:
df2['Platform'] = df2['Platform'].str.extract(r"\((.*?)\)", expand=False)

In [119]:
df2.head()

,Platform,Year Available,North America,Europe,Japan,Rest of World,Global
Pos,,,,,,,
1,PS2,2000,53.65,55.28,23.18,25.57,157.68
2,PS,1994,38.94,36.91,19.36,9.04,104.25
3,Wii,2006,45.38,33.75,12.77,9.28,101.18
4,PS3,2006,29.41,34.52,10.45,12.45,86.83
5,X360,2005,49.10,25.86,1.66,9.16,85.78

In [120]:
df2.to_csv('new_platform_final.csv', index=False)

Drop the video game sales data of portable devices, keep only console game data.

In [121]:
df = df[df.Platform.isin(df2.Platform)]

In [122]:
df.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82

Reindex the dataframe to start from 1

In [123]:
df.index = np.arange(1, len(df) + 1)

In [124]:
df.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
6,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
7,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
8,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
9,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
10,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82

In [125]:
df.dropna(inplace=True)

In [126]:
df['Year'] = df['Year'].astype(int)

In [127]:
df['Year'] = df['Year'].astype(str)

In [128]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02

In [129]:
df.to_csv('new_data_final.csv', index=False)